.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}

.person {
  padding: 10px;
  h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    color: #333;
  }
  p {
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
    color: #aaa;
  }

  a {
    color: #ccc;
  }

  img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }

  p,
  img {
    width: 80%;
  }
  &:hover {
    // background-color: #dddddd;
    cursor: pointer;
  }
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline-block;
  border-right: 2px solid #bbb;
  padding: 0 5px;
}

// Jonathan

#poggers {
  display: none;
  font-size: 100px;
  position: fixed;
  top: 100px;
  text-align: center;
  width: 100%;
  font-family: Roboto Slab;
  color: red;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#jonathan:hover ~ #poggers {
  display: block;
}
#dev {
  visibility: hidden;
  font-size: 20px;
  position: fixed;
  top: 100px;
  text-align: center;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: lightgreen;
  animation: blinker 0.3s ease-in-out infinite;
  transition: transform 0.1s linear;
}
#liam:hover ~ #dev {
  visibility: visible;
  transform: scale(9.2);
  transition: transform 3s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes indiacolors {
  0% {
    color: orange;
  }
  33% {
    color: green;
  }
  67% {
    color: white;
  }
  100% {
    color: orange;
  }
}
#india {
  display: none;
  font-size: 150px;
  position: fixed;
  top: 100px;
  text-align: center;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: orange;
  animation: indiacolors 3s infinite;
  transition: font-size 15s;
}
#noah:hover ~ #india {
  display: block;
}
//  Vincent
#vincent-hey {
  font-size: 64px;
  position: fixed;
  bottom: 50%;
  visibility: hidden;
  font-family: "Times New Roman", Times, serif;
}

#vincent:hover ~ #vincent-hey {
  animation: left-scrolling-text 4s linear infinite;
  color: #fff;
  display: block;
  visibility: visible;
}

@keyframes left-scrolling-text {
  from {
    transform: translateX(120%);
  }

  to {
    transform: translateX(-120%);
  }
}

.box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
}
.box b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3673cf;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  top: percentage(random(100) / 100);
  animation: moveX #{(random(4))}s linear 0s infinite alternate,
    moveY #{(random(3))}s linear 0s infinite alternate;
}

#myboy {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3673cf;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  left: random(100) + px;
  top: random(100);
  animation: moveX2 2.55s linear 0s infinite alternate,
    moveY2 2s linear 0s infinite alternate;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes moveX2 {
  from {
    right: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveY2 {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

.noHover {
  pointer-events: none;
}
