.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}

@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

.person {
  padding: 10px;
  h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    color: #333;
  }
  p {
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
    color: #aaa;
  }

  a {
    color: #ccc;
  }

  img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }

  p,
  img {
    width: 80%;
  }
  &:hover {
    // background-color: #dddddd;
    cursor: pointer;
  }
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline-block;
  border-right: 2px solid #bbb;
  padding: 0 5px;
}

// Jonathan

#poggers {
  display: none;
  font-size: 100px;
  position: fixed;
  top: 100px;
  left: 0;
  text-align: center;
  width: 100%;
  font-family: Roboto Slab;
  color: red;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#jonathan:hover ~ #poggers {
  display: block;
}
#scooby {
  visibility: hidden;
  position: fixed;
  top: 150px;
  left: 0;
  width: 100%;
  transition: transform 0.1s linear;
}
#matt:hover ~ #scooby {
  visibility: visible;
  transform: scale(10);
  transition: transform 3s linear;
}
#dev {
  visibility: hidden;
  font-size: 20px;
  position: fixed;
  top: 100px;
  left: 0;
  text-align: center;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: lightgreen;
  animation: blinker 0.3s ease-in-out infinite;
  transition: transform 0.1s linear;
}
#liam:hover ~ #dev {
  visibility: visible;
  transform: scale(9.2);
  transition: transform 3s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes indiacolors {
  0% {
    color: orange;
  }
  33% {
    color: green;
  }
  67% {
    color: white;
  }
  100% {
    color: orange;
  }
}
#india {
  display: none;
  font-size: 150px;
  position: fixed;
  top: 100px;
  left: 0;
  text-align: center;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: orange;
  animation: indiacolors 3s infinite;
  transition: font-size 15s;
}
#noah:hover ~ #india {
  display: block;
}

// Geffen
#geffen-text {
  font-size: 128px;
  position: fixed;
  left: 0;
  bottom: 50%;
  visibility: hidden;
  font-family: "Times New Roman", Times, serif;
}

#geffen:hover ~ #geffen-text {
  animation: left-scrolling-text 8s linear infinite;
  color: #770077;
  display: block;
  visibility: visible;
}

//  Vincent
#vincent-hey {
  font-size: 64px;
  position: fixed;
  left: 0;
  bottom: 50%;
  visibility: hidden;
  font-family: "Times New Roman", Times, serif;
}

#felipe:hover ~ #vincent-hey {
  animation: left-scrolling-text 7s linear infinite;
  color: #440000;
  display: block;
  visibility: visible;
}

#taylor:hover ~ #vincent-hey {
  font-size: 12px;
  animation: down-right-scrolling-text 5s linear infinite;
  color: #440000;
  display: block;
  visibility: visible;
}

#william-text {
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  font-size: 40px;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  div {
    width: 100vw;
    animation: left-scrolling-text 3s linear infinite;
  }
  div:nth-child(1) {
    animation: left-scrolling-text 4s ease-in-out infinite;
    animation-delay: -2s;
  }
  div:nth-child(2) {
    animation-delay: -2s;
  }
  div:nth-child(4) {
    animation: right-scrolling-text 3s linear infinite;
  }
  div:nth-child(5) {
    animation: left-scrolling-text 4s ease-in-out infinite;
    animation-delay: -3s;
  }
}
#william:hover ~ #william-text {
  visibility: visible;
}
#vincent:hover ~ #vincent-hey {
  animation: left-scrolling-text 4s linear infinite;
  color: #fff;
  display: block;
  visibility: visible;
}

#bonnie-beer {
  position: fixed;
  left: 0;
  top: 50%;
  display: flex;
  visibility: hidden;
  div {
    animation: bounce 1s ease infinite;
    margin: 0 20px;
  }

  div:nth-child(2) {
    animation-delay: 0.1s;
  }
  div:nth-child(3) {
    animation-delay: 0.2s;
  }
  div:nth-child(4) {
    animation-delay: 0.3s;
  }
  div:nth-child(5) {
    animation-delay: 0.4s;
  }
  div:nth-child(6) {
    animation-delay: 0.5s;
  }
  div:nth-child(7) {
    animation-delay: 0.6s;
  }
  div:nth-child(8) {
    animation-delay: 0.7s;
  }
  div:nth-child(9) {
    animation-delay: 0.8s;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
#bonnie:hover ~ #bonnie-beer {
  visibility: visible;
}
// Raffi

#choco {
  display: none;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#raffi:hover ~ #choco {
  display: block;
}

#choco::before {
  content: "";
}

#choco::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;
  height: 220vw;
  width: 220vw;
  background: #964b00;
  opacity: 90%;
  border-radius: 30%;
  animation: chocoSpin 18s forwards;
}

@keyframes chocoSpin {
  0% {
    transform: translateY(90%) rotate(0deg);
  }
  100% {
    transform: translateY(0%) rotate(360deg);
  }
}

@keyframes left-scrolling-text {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes right-scrolling-text {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes down-right-scrolling-text {
  from {
    transform: translateX(-100%) translateY(-100%);
  }

  to {
    transform: translateX(100%) translateY(100%);
  }
}

.box {
  display: none;
  margin: 0 auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  border-radius: 5px;
  pointer-events: none;
  overflow: hidden;
}
#marley:hover ~ .box {
  display: block;
}
.box b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3673cf;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.3),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  top: percentage(random(100) / 100);
  animation: moveX 2s linear 0s infinite alternate,
    moveY 1.8s linear 0s infinite alternate, colors 4s infinite alternate;
}
.box b:nth-child(2) {
  animation: moveX 3.2s linear 0s infinite alternate,
    moveY 2s linear 0s infinite alternate, colors 4s infinite alternate;
  animation-delay: -4s;
}
.box b:nth-child(3) {
  animation: moveX 2.5s linear 0s infinite alternate,
    moveY 2.1s linear 0s infinite alternate, colors 4s infinite alternate;
  animation-delay: -1s;
}
.box b:nth-child(4) {
  animation: moveX 3.2s linear 0s infinite alternate,
    moveY 2s linear 0s infinite alternate, colors 4s infinite alternate;
  animation-delay: -2s;
}
.box b:nth-child(5) {
  animation: moveX 3.2s linear 0s infinite alternate,
    moveY 2s linear 0s infinite alternate, colors 4s infinite alternate;
  animation-delay: -3s;
}
.box b:nth-child(6) {
  animation: moveX 2.5s linear 0s infinite alternate,
    moveY 2s linear 0s infinite alternate, colors 4s infinite alternate;
  animation-delay: -5s;
}
.box b:nth-child(7) {
  animation: moveX 2.25s linear 0s infinite alternate,
    moveY 2.5s linear 0s infinite alternate, colors 4s infinite alternate;
  animation-delay: -1.3s;
}
.box b:nth-child(8) {
  animation: moveX 3.2s linear 0s infinite alternate,
    moveY 2.3s linear 0s infinite alternate, colors 4s infinite alternate;
  animation-delay: -2.5s;
}
@keyframes colors {
  0% {
    background-color: #ff3ea5ff;
  }

  40% {
    background-color: #edff00ff;
  }

  100% {
    background-color: #00a4ccff;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes moveX2 {
  from {
    right: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveY2 {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

.noHover {
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: none;
  width: 300px;
  height: 300px;
  position: relative;
}
#dmitri:hover ~ .wrapper {
  display: block;
}

.head {
  width: 50px;
  height: 60px;
  border: 5px solid black;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 21px;
  left: 133px;
  z-index: 1;
  animation: rock 1s alternate infinite ease-in-out;
  transform-origin: center bottom;
}

@keyframes rock {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.torso {
  width: 6px;
  height: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 80px;
  left: 156px;
}

.leftleg {
  width: 6px;
  height: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 175px;
  left: 155px;
  transform: rotate(12deg);
  transform-origin: top;
}

.rightleg {
  width: 6px;
  height: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 175px;
  left: 157px;
  transform: rotate(-12deg);
  transform-origin: top;
}

.leftarm {
  width: 100px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 86px;
  left: 57px;
  animation: wave 1s alternate infinite ease-in-out;
  transform-origin: 100%;
}

@keyframes wave {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.rightarm {
  width: 100px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 86px;
  left: 161px;
  animation: wave2 1s alternate infinite ease-in-out;
  transform-origin: 0%;
}

@keyframes wave2 {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

.leftfoot {
  width: 30px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 270px;
  left: 110px;
  transform: rotate(8deg);
}

.rightfoot {
  width: 30px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 270px;
  left: 178px;
  transform: rotate(-8deg);
}

#dhruvik-swag {
  video {
    position: fixed;
    top: 25%;
    left: 25%;
  }
}

// kesava
$background: #ed4337;
$animationTime: 20s;

$red: #c41e3a;
$green: #009e60;
$blue: #0051ba;
$orange: #ff5800;
$yellow: #ffd500;
$white: #ffffff;

@mixin makeSpinningAnimation(
  $name,
  $axis,
  $initialAngle,
  $stop1,
  $endStop1,
  $stop2,
  $endStop2
) {
  @keyframes #{$name} {
    #{$initialAngle}% {
      transform: #{"rotate" + $axis + "(0deg)"};
    }
    #{$stop1}% {
      transform: #{"rotate" + $axis + "(90deg)"};
    }
    #{$endStop1}% {
      transform: #{"rotate" + $axis + "(90deg)"};
    }
    #{$stop2}% {
      transform: #{"rotate" + $axis + "(360deg)"};
    }
    #{$endStop2}% {
      transform: #{"rotate" + $axis + "(360deg)"};
    }
  }
}

@mixin makeOpaque($animNum, $startPer, $endPer) {
  @keyframes makeOpaque#{$animNum} {
    #{$startPer - .01}% {
      opacity: 1;
    }
    #{$startPer}% {
      opacity: 0;
    }
    #{$endPer - .01}% {
      opacity: 0;
    }
    #{$endPer}% {
      opacity: 1;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotateY(-30deg) rotateX(-30deg);
  }
  to {
    transform: rotateY(690deg) rotateX(-30deg);
  }
}

@include makeSpinningAnimation(spinTopRow, Y, 0, 5, 45, 50, 100);
@include makeSpinningAnimation(spinMiddleColumn, X, 25, 35, 75, 85, 100);
@include makeSpinningAnimation(spinMiddleRow, Y, 40, 45, 90, 95, 100);

@include makeOpaque(1, 0.01, 5);
@include makeOpaque(2, 45, 50);

@include makeOpaque(3, 25, 35);
@include makeOpaque(4, 75, 90);

@include makeOpaque(5, 40, 45);
@include makeOpaque(6, 90, 95);

@include makeOpaque(7, 75, 90);

@mixin cell($color) {
  background: $color;
  position: absolute;
  display: block;
  width: 3.6em;
  height: 3.6em;
  border-radius: 15%;
}

.rubiks-container {
  perspective: 800px;
  margin: 10vh auto;
  height: 22em;
  width: 22em;
  position: relative;
  border-radius: 10%;
  .rubiks-cube {
    width: 12em;
    height: 12em;
    margin: 5em;
    position: absolute;
    animation: rotate $animationTime infinite linear;
    transform-style: preserve-3d;
    transform: rotateY(-30deg) rotateX(-30deg) scale3d(0.7, 0.7, 0.7);
  }
  .top-clone {
    z-index: 100;
    position: absolute;
    width: 12em;
    height: 12em;
    transform-style: preserve-3d;
    animation: spinTopRow $animationTime infinite linear;
    .clone-left {
      left: 0;
      .left-one {
        @include cell($red);
      }
      .left-two {
        animation: makeOpaque3 $animationTime infinite linear;
        @include cell($green);
      }
      .left-three {
        @include cell($blue);
      }
    }
    .clone-middle {
      left: 4em;
      animation: makeOpaque7 $animationTime infinite linear;
      .middle-one {
        @include cell($white);
      }
      .middle-two {
        animation: makeOpaque3 $animationTime infinite linear;
        @include cell($blue);
      }
      .middle-three {
        @include cell($green);
      }
    }
    .clone-right {
      left: 8em;
      .right-one {
        @include cell($orange);
      }
      .right-two {
        animation: makeOpaque3 $animationTime infinite linear;
        @include cell($orange);
      }
      .right-three {
        @include cell($white);
      }
    }
  }
  .top-row,
  .middle-row,
  .bottom-row {
    position: absolute;
    top: 0;
    width: 12em;
    height: 4em;
    transform-style: preserve-3d;
  }
  .top-row {
    top: 0;
    animation: spinTopRow $animationTime infinite linear;
    .front {
      .front-one {
        @include cell($green);
      }
      .front-two {
        animation: makeOpaque4 $animationTime infinite linear;
        @include cell($white);
      }
      .front-three {
        @include cell($orange);
      }
    }
    .left {
      .left-one {
        @include cell($orange);
      }
      .left-two {
        animation: makeOpaque3 $animationTime infinite linear;
        @include cell($white);
      }
      .left-three {
        @include cell($red);
      }
    }
    .back {
      .back-one {
        @include cell($red);
      }
      .back-two {
        animation: makeOpaque4 $animationTime infinite linear;
        @include cell($blue);
      }
      .back-three {
        @include cell($yellow);
      }
    }
    .right {
      .right-one {
        @include cell($white);
      }
      .right-two {
        animation: makeOpaque3 $animationTime infinite linear;
        @include cell($blue);
      }
      .right-three {
        @include cell($green);
      }
    }
  }
  .middle-row {
    top: 4em;
    animation: spinMiddleRow $animationTime infinite linear;
    .front {
      .front-one {
        @include cell($orange);
      }
      .front-two {
        animation: makeOpaque3 $animationTime infinite linear;
        @include cell($blue);
      }
      .front-three {
        @include cell($red);
      }
    }
    .left {
      .left-one {
        @include cell($white);
      }
      .left-two {
        animation: makeOpaque4 $animationTime infinite linear;
        @include cell($blue);
      }
      .left-three {
        @include cell($yellow);
      }
    }
    .back {
      .back-one {
        @include cell($red);
      }
      .back-two {
        animation: makeOpaque3 $animationTime infinite linear;
        @include cell($orange);
      }
      .back-three {
        @include cell($green);
      }
    }
    .right {
      .right-one {
        @include cell($yellow);
      }
      .right-two {
        animation: makeOpaque4 $animationTime infinite linear;
        @include cell($orange);
      }
      .right-three {
        @include cell($green);
      }
    }
  }
  .bottom-row {
    top: 8em;
    .left {
      .left-one {
        @include cell($white);
      }
      .left-two {
        @include cell($blue);
      }
      .left-three {
        @include cell($yellow);
      }
    }
    .right {
      .right-one {
        @include cell($yellow);
      }
      .right-two {
        @include cell($red);
      }
      .right-three {
        @include cell($green);
      }
    }
  }
  .row-face {
    position: absolute;
    display: block;
    width: 12em;
    height: 4em;
    top: 0;
    :nth-child(1) {
      left: 0em;
      top: 50%;
      margin-top: -1.75em;
      margin-left: 0.25em;
    }
    :nth-child(2) {
      left: 4em;
      top: 50%;
      margin-top: -1.75em;
      margin-left: 0.25em;
    }
    :nth-child(3) {
      left: 8em;
      top: 50%;
      margin-top: -1.75em;
      margin-left: 0.25em;
    }
    &.front {
      transform: translateZ(6em);
    }
    &.left {
      transform: rotateY(-90deg) translateZ(6em);
    }
    &.back {
      transform: rotateY(-180deg) translateZ(6em);
    }
    &.right {
      transform: rotateY(90deg) translateZ(6em);
    }
  }
  .left-column,
  .middle-column,
  .right-column {
    position: absolute;
    width: 4em;
    height: 12em;
    top: 0;
    transform-style: preserve-3d;
  }
  .left-column {
    left: 0;
    .front {
      .front-three {
        @include cell($green);
      }
    }
    .back {
      .back-one {
        @include cell($yellow);
      }
    }
    .bottom {
      .bottom-one {
        @include cell($red);
      }
      .bottom-two {
        @include cell($yellow);
      }
      .bottom-three {
        @include cell($green);
      }
    }
  }
  .middle-column {
    left: 4em;
    animation: spinMiddleColumn $animationTime infinite linear;
    .front {
      animation: makeOpaque2 $animationTime infinite linear;
      .front-one {
        animation: makeOpaque1 $animationTime infinite linear;
        @include cell($white);
      }
      .front-two {
        animation: makeOpaque6 $animationTime infinite linear;
        @include cell($blue);
      }
      .front-three {
        @include cell($green);
      }
    }
    .top {
      animation: makeOpaque1 $animationTime infinite linear;
      .top-one {
        @include cell($white);
      }
      .top-two {
        animation: makeOpaque5 $animationTime infinite linear;
        @include cell($blue);
      }
      .top-three {
        animation: makeOpaque2 $animationTime infinite linear;
        @include cell($green);
      }
    }
    .back {
      .back-one {
        @include cell($orange);
      }
      .back-two {
        animation: makeOpaque6 $animationTime infinite linear;
        @include cell($orange);
      }
      .back-three {
        animation: makeOpaque1 $animationTime infinite linear;
        @include cell($blue);
      }
    }
    .bottom {
      .bottom-one {
        animation: makeOpaque2 $animationTime infinite linear;
        @include cell($white);
      }
      .bottom-two {
        animation: makeOpaque5 $animationTime infinite linear;
        @include cell($blue);
      }
      .bottom-three {
        @include cell($green);
      }
    }
  }
  .right-column {
    left: 8em;
    .front {
      .front-three {
        @include cell($blue);
      }
    }
    .back {
      .back-one {
        @include cell($yellow);
      }
    }
    .bottom {
      .bottom-one {
        @include cell($white);
      }
      .bottom-two {
        @include cell($red);
      }
      .bottom-three {
        @include cell($red);
      }
    }
  }
  .column-face {
    position: absolute;
    display: block;
    width: 4em;
    height: 12em;
    left: 0;
    :nth-child(1) {
      top: 0em;
      left: 50%;
      margin-left: -1.75em;
      margin-top: 0.25em;
    }
    :nth-child(2) {
      top: 4em;
      left: 50%;
      margin-left: -1.75em;
      margin-top: 0.25em;
    }
    :nth-child(3) {
      top: 8em;
      left: 50%;
      margin-left: -1.75em;
      margin-top: 0.25em;
    }
    &.front {
      transform: translateZ(6em);
    }
    &.top {
      transform: rotateX(90deg) translateZ(6em);
    }
    &.back {
      transform: rotateX(180deg) translateZ(6em);
    }
    &.bottom {
      transform: rotateX(-90deg) translateZ(6em);
    }
  }
}

#kesava-magic {
  position: fixed;
  left: 0;
  top: 100px;
  display: none;
  #kesava-text {
    font-size: 36px;
    width: 600px;
    color: #f32b2b;
  }
}

#kesava:hover ~ #kesava-magic {
  animation: left-scrolling-text 7s linear infinite;
  display: block;
}

#chris-decoration {
  display: none;
  position: fixed;
  width: 300px;
}

#chris:hover ~ #chris-decoration {
  animation: chris 1s linear infinite;
  display: block;
}

@keyframes chris {
  0% {
    top: 0;
    right: 0;
  }

  20% {
    top: 0;
    right: 60%;
  }

  40% {
    top: 100%;
    right: 60%;
  }
  60% {
    top: 100%;
    right: 0;
  }

  100% {
    top: 0;
    right: 0;
  }
}
